@font-face {
    font-family: MicrogrammaD;
    src: url('MicrogramD.ttf') format("truetype");
}
h1{color: #010066;
    font-family: MicrogrammaD;
    font-size: 48pt;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.mkrd {color: #e20001;
    font-family: MicrogrammaD;
    font-size: 60pt;
    margin-bottom: 0;
}
